@model Friend
@{
    string operation = ViewBag.operation;
    bool isFirstOperation = operation == null || operation.Equals("add");
    Guid friend_id;
    try{
        friend_id = (isFirstOperation) ? Guid.NewGuid() : Model.FriendId;
    }catch(NullReferenceException){
        friend_id = Guid.Empty;
    }
    
    string friend_name = (isFirstOperation) ? "" : Model.FriendName??"";
    string friend_place = (isFirstOperation) ? "" : Model.Place??"";
}

<form action="@Url.Action(isFirstOperation ? "Index" : "Update","Friend")" method="post">
    <div id="friend_form">
        <input type="hidden" name="FriendId" value="@friend_id">

        <input asp-for="FriendName" placeholder="Friend Name" value="@friend_name">
        <span asp-validation-for="FriendName" class="text-danger"></span>

        <input asp-for="Place" placeholder="Place" value="@friend_place">
        <span asp-validation-for="Place" class="text-danger"></span>

        <button>@(isFirstOperation ? "Add" : "Update") Friend</button>
    </div>
</form>