@{
    List<Friend> friends = ViewBag.friends;
    string error = ViewBag.error;
}

<div id="friend_nav">
    <h1>Friends</h1>
    <a id="new_friend_button" asp-controller="Friend" asp-action="New">New Friend</a>
</div>

@if(friends == null || friends.Count == 0){
    <span>No friends added to list</span>
}else{
    @if(error != null && !error.Equals("")){
        <div class="alert alert-danger" role="alert">
            @error
        </div>
    }
    <ul id="friends_list">
        @foreach(var friend in friends){
            <li>
                <div>
                    <cite>@friend.FriendName</cite>
                    <span>@friend.FriendId</span>
                    <p>@friend.Place</p>
                </div>
                <div>
                    <a class="btn btn-outline-warning mb-2" asp-controller="Friend" asp-action="Update" asp-route-id="@friend.FriendId">Edit</a>
                    <a class="btn btn-outline-danger" asp-controller="Friend" asp-action="Delete" asp-route-id="@friend.FriendId">Delete</a>
                </div>
            </li>
        }
    </ul>
}
